<?xml version="1.0" encoding="utf-8"?>
<robot name="rp1.3.1">
  <!-- ===== BASE LINK ===== -->
  <link name="base_link">
    <inertial>
      <origin xyz="-0.03779 -0.00301 -0.04415" rpy="0 0 0"/>
      <mass value="3.5521"/>
      <inertia ixx="0.010331" ixy="-0.000003" ixz="-0.000260" iyy="0.008186" iyz="-0.000006" izz="0.009223"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/base_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
  </link>
  <!-- ===== RIGHT LEG ===== -->
  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="-0.003226 -0.057364 -0.057445" rpy="0 0 0"/>
      <mass value="1.8622"/>
      <inertia ixx="0.003466" ixy="-0.000006" ixz="-0.000028" iyy="0.002905" iyz="-0.000323" izz="0.002551"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hip_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hip_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="-0.03843 -0.070013 -0.051639" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="right_hip_pitch_link"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-2.86" upper="2.86" effort="140" velocity="13.5"/>
    <dynamics damping="0.0" friction="0.0" armature="0.087115"/>
  </joint>
  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="-0.009047 -0.000008 -0.085736" rpy="0 0 0"/>
      <mass value="1.7439"/>
      <inertia ixx="0.003968" ixy="0.000000" ixz="-0.000583" iyy="0.004043" iyz="0.000002" izz="0.002583"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hip_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hip_roll_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="0.032915 -0.060254 -0.060672" rpy="0 0 0"/>
    <parent link="right_hip_pitch_link"/>
    <child link="right_hip_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2.6" upper="0.74" effort="140" velocity="13.5"/>
    <dynamics damping="0.0" friction="0.0" armature="0.087115"/>
  </joint>
  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="-0.017299 0.000275 -0.120420" rpy="0 0 0"/>
      <mass value="2.5701"/>
      <inertia ixx="0.011995" ixy="-0.000018" ixz="-0.002206" iyy="0.012938" iyz="-0.000020" izz="0.004286"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hip_yaw_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hip_yaw_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="-0.013698 0 -0.129" rpy="0 0 0"/>
    <parent link="right_hip_roll_link"/>
    <child link="right_hip_yaw_link"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-2.76" upper="2.76" effort="140" velocity="13.5"/>
    <dynamics damping="0.0" friction="0.0" armature="0.087115"/>
  </joint>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="0.029020 -0.031682 -0.134102" rpy="0 0 0"/>
      <mass value="2.7871"/>
      <inertia ixx="0.021098" ixy="0.000066" ixz="-0.000037" iyy="0.020957" iyz="-0.000044" izz="0.003371"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_knee_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_knee_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="-0.033201 0.031809 -0.16509" rpy="0 0 0"/>
    <parent link="right_hip_yaw_link"/>
    <child link="right_knee_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.06" upper="2.83" effort="140" velocity="13.5"/>
    <dynamics damping="0.0" friction="0.0" armature="0.087115"/>
  </joint>
  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="0.001263 0.000000 -0.013192" rpy="0 0 0"/>
      <mass value="0.1661"/>
      <inertia ixx="0.000036" ixy="0.000000" ixz="0.000001" iyy="0.000043" iyz="0.000000" izz="0.000024"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_ankle_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.650980392156863 0.619607843137255 0.588235294117647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_ankle_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="0.03131 -0.031809 -0.30533" rpy="0 0 0"/>
    <parent link="right_knee_link"/>
    <child link="right_ankle_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.78" upper="0.61" effort="28.5" velocity="20"/>
    <dynamics damping="0.0" friction="0.0" armature="0.020362"/>
  </joint>
  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.001929 0.000003 -0.023378" rpy="0 0 0"/>
      <mass value="0.7882"/>
      <inertia ixx="0.000423" ixy="-0.000000" ixz="0.000097" iyy="0.002780" iyz="0.000000" izz="0.002887"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_ankle_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0085 0 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.247"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.008 0.012 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.228"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.008 -0.012 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.228"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0075 0.022 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.212"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0075 -0.022 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.212"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.055 0.032 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.100"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.055 -0.032 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.100"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_roll_joint" type="revolute">
    <origin xyz="0.013067 0 -0.018922" rpy="0 0 0"/>
    <parent link="right_ankle_pitch_link"/>
    <child link="right_ankle_roll_link"/>
    <axis xyz="0.999993677858222 0 0.00355587451777984"/>
    <limit lower="-0.26" upper="0.26" effort="28.5" velocity="20"/>
    <dynamics damping="0.0" friction="0.0" armature="0.020362"/>
  </joint>
  <!-- ===== LEFT LEG ===== -->
  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="-0.003227 0.057534 -0.057378" rpy="0 0 0"/>
      <mass value="1.8622"/>
      <inertia ixx="0.003467" ixy="0.000013" ixz="-0.000026" iyy="0.002911" iyz="0.000318" izz="0.002546"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hip_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hip_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="-0.03843 0.063987 -0.051639" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="left_hip_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.86" upper="2.86" effort="140" velocity="13.5"/>
    <dynamics damping="0.0" friction="0.0" armature="0.087115"/>
  </joint>
  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="-0.009047 -0.000008 -0.085736" rpy="0 0 0"/>
      <mass value="1.7439"/>
      <inertia ixx="0.003968" ixy="0.000000" ixz="-0.000583" iyy="0.004043" iyz="0.000002" izz="0.002583"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hip_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hip_roll_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="0.032915 0.060254 -0.060672" rpy="0 0 0"/>
    <parent link="left_hip_pitch_link"/>
    <child link="left_hip_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.74" upper="2.6" effort="140" velocity="13.5"/>
    <dynamics damping="0.0" friction="0.0" armature="0.087115"/>
  </joint>
  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="-0.017300 -0.000276 -0.120421" rpy="0 0 0"/>
      <mass value="2.5702"/>
      <inertia ixx="0.011939" ixy="0.000018" ixz="-0.002206" iyy="0.012939" iyz="0.000020" izz="0.004342"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hip_yaw_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hip_yaw_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="-0.013698 0 -0.129" rpy="0 0 0"/>
    <parent link="left_hip_roll_link"/>
    <child link="left_hip_yaw_link"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-2.76" upper="2.76" effort="140" velocity="13.5"/>
    <dynamics damping="0.0" friction="0.0" armature="0.087115"/>
  </joint>
  <link name="left_knee_link">
    <inertial>
      <origin xyz="0.029224 0.032032 -0.135041" rpy="0 0 0"/>
      <mass value="2.7678"/>
      <inertia ixx="0.020693" ixy="-0.000037" ixz="-0.000113" iyy="0.020578" iyz="-0.000086" izz="0.003301"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_knee_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_knee_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="-0.033201 -0.031809 -0.16509" rpy="0 0 0"/>
    <parent link="left_hip_yaw_link"/>
    <child link="left_knee_link"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-2.83" upper="0.06" effort="140" velocity="13.5"/>
    <dynamics damping="0.0" friction="0.0" armature="0.087115"/>
  </joint>
  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="0.001263 0.000000 -0.013192" rpy="0 0 0"/>
      <mass value="0.1661"/>
      <inertia ixx="0.000036" ixy="0.000000" ixz="0.000001" iyy="0.000043" iyz="0.000000" izz="0.000024"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_ankle_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.650980392156863 0.619607843137255 0.588235294117647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_ankle_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="0.03131 0.031811 -0.30533" rpy="0 0 0"/>
    <parent link="left_knee_link"/>
    <child link="left_ankle_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.78" upper="0.61" effort="28.5" velocity="20"/>
    <dynamics damping="0.0" friction="0.0" armature="0.020362"/>
  </joint>
  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.001929 0.000148 -0.023378" rpy="0 0 0"/>
      <mass value="0.7882"/>
      <inertia ixx="0.000423" ixy="-0.000001" ixz="0.000097" iyy="0.002780" iyz="0.000001" izz="0.002887"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_ankle_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0085 0 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.247"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.008 0.012 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.228"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.008 -0.012 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.228"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0075 0.022 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.212"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0075 -0.022 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.212"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.055 0.032 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.100"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.055 -0.032 -0.04" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.100"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_ankle_roll_joint" type="revolute">
    <origin xyz="0.013067 0 -0.018922" rpy="0 0 0"/>
    <parent link="left_ankle_pitch_link"/>
    <child link="left_ankle_roll_link"/>
    <axis xyz="0.999993677858222 0 0.00355587451777954"/>
    <limit lower="-0.26" upper="0.26" effort="28.5" velocity="20"/>
    <dynamics damping="0.0" friction="0.0" armature="0.020362"/>
  </joint>
  <!-- ===== WAIST ===== -->
  <link name="waist_roll_link">
    <inertial>
      <origin xyz="-0.035265 -0.000057 0.001175" rpy="0 0 0"/>
      <mass value="1.8289"/>
      <inertia ixx="0.002633" ixy="0.000003" ixz="-0.000068" iyy="0.002287" iyz="0.000001" izz="0.002193"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/waist_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/waist_roll_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="waist_roll_joint" type="revolute">
    <origin xyz="-0.0065899 -0.0030127 0.052984" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="waist_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.7" upper="0.7" effort="140" velocity="13.5"/>
    <dynamics damping="0.0" friction="0.0" armature="0.087115"/>
  </joint>
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="-0.004292 0.000010 0.117725" rpy="0 0 0"/>
      <mass value="7.5258"/>
      <inertia ixx="0.066527" ixy="0.000006" ixz="0.003188" iyy="0.048635" iyz="0.000027" izz="0.039580"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/waist_yaw_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/waist_yaw_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="-0.031845 0 0.067" rpy="0 0 0"/>
    <parent link="waist_roll_link"/>
    <child link="waist_yaw_link"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-2.91" upper="2.91" effort="140" velocity="13.5"/>
    <dynamics damping="0.0" friction="0.0" armature="0.087115"/>
  </joint>
  <!-- ===== LEFT ARM ===== -->
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="-0.001371 0.055394 -0.012317" rpy="0 0 0"/>
      <mass value="0.7655"/>
      <inertia ixx="0.000636" ixy="0.000003" ixz="-0.000003" iyy="0.000503" iyz="0.000063" izz="0.000590"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_shoulder_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_shoulder_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_pitch_joint" type="revolute">
    <origin xyz="-0.0035001 0.11385 0.19939" rpy="0 0 0"/>
    <parent link="waist_yaw_link"/>
    <child link="left_shoulder_pitch_link"/>
    <axis xyz="0 0.99619 0.087156"/>
    <limit lower="-3.4" upper="2.35" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.016046 -0.000006 -0.068104" rpy="0 0 0"/>
      <mass value="0.8044"/>
      <inertia ixx="0.000875" ixy="0.000000" ixz="-0.000135" iyy="0.000890" iyz="0.000000" izz="0.000523"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_shoulder_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_shoulder_roll_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_roll_joint" type="revolute">
    <origin xyz="0.028402 0.060357 -0.015009" rpy="0 0 0"/>
    <parent link="left_shoulder_pitch_link"/>
    <child link="left_shoulder_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.47" upper="2.9" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.013589 0.000022 -0.083103" rpy="0 0 0"/>
      <mass value="1.1046"/>
      <inertia ixx="0.002164" ixy="0.000004" ixz="0.000362" iyy="0.002241" iyz="-0.000022" izz="0.000960"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_shoulder_yaw_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_shoulder_yaw_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_yaw_joint" type="revolute">
    <origin xyz="-0.019058 0 -0.105" rpy="0 0 0"/>
    <parent link="left_shoulder_roll_link"/>
    <child link="left_shoulder_yaw_link"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-2.87" upper="2.87" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <link name="left_elbow_link">
    <inertial>
      <origin xyz="0.072386 0.030972 -0.017815" rpy="0 0 0"/>
      <mass value="0.8177"/>
      <inertia ixx="0.000646" ixy="-0.000044" ixz="0.000070" iyy="0.001143" iyz="0.000010" izz="0.001230"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_elbow_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_elbow_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_elbow_joint" type="revolute">
    <origin xyz="0.020793 -0.031888 -0.10414" rpy="0 0 0"/>
    <parent link="left_shoulder_yaw_link"/>
    <child link="left_elbow_link"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-1.6" upper="1.24" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <link name="left_wrist_link">
    <inertial>
      <origin xyz="0.018265 0.009999 -0.000000" rpy="0 0 0"/>
      <mass value="0.1588"/>
      <inertia ixx="0.000133" ixy="-0.000038" ixz="-0.000000" iyy="0.000144" iyz="-0.000000" izz="0.000158"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_wrist_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_wrist_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_joint" type="revolute">
    <origin xyz="0.11609 0.031859 -0.018793" rpy="0 0 0"/>
    <parent link="left_elbow_link"/>
    <child link="left_wrist_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2.56" upper="2.56" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <link name="left_wrist_pitch_link">
    <inertial>
      <origin xyz="0.031074 -0.027941 0.000418" rpy="0 0 0"/>
      <mass value="1.1081"/>
      <inertia ixx="0.000583" ixy="-0.000050" ixz="-0.000012" iyy="0.001554" iyz="-0.000001" izz="0.001582"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_wrist_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_wrist_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_pitch_joint" type="revolute">
    <origin xyz="0.053 0.020701 0" rpy="0 0 0"/>
    <parent link="left_wrist_link"/>
    <child link="left_wrist_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.4" upper="1.4" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <link name="left_wrist_roll_link">
    <inertial>
      <origin xyz="0.023035 0.000000 -0.009529" rpy="0 0 0"/>
      <mass value="0.0732"/>
      <inertia ixx="0.000040" ixy="-0.000000" ixz="0.000020" iyy="0.000065" iyz="-0.000000" izz="0.000052"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_wrist_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_wrist_roll_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_roll_joint" type="revolute">
    <origin xyz="0.062136 -0.02585 0.029075" rpy="0 0 0"/>
    <parent link="left_wrist_pitch_link"/>
    <child link="left_wrist_roll_link"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.22" upper="1.22" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <!-- ===== RIGHT ARM ===== -->
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="-0.002754 -0.055738 -0.012312" rpy="0 0 0"/>
      <mass value="0.7953"/>
      <inertia ixx="0.000658" ixy="-0.000012" ixz="-0.000003" iyy="0.000552" iyz="-0.000064" izz="0.000643"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_shoulder_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_shoulder_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <origin xyz="-0.0035 -0.11385 0.19939" rpy="0 0 0"/>
    <parent link="waist_yaw_link"/>
    <child link="right_shoulder_pitch_link"/>
    <axis xyz="0 -0.99619 0.087156"/>
    <limit lower="-2.35" upper="3.4" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.016046 -0.000005 -0.068104" rpy="0 0 0"/>
      <mass value="0.8044"/>
      <inertia ixx="0.000875" ixy="0.000000" ixz="-0.000135" iyy="0.000890" iyz="0.000000" izz="0.000523"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_shoulder_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_shoulder_roll_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <origin xyz="0.028402 -0.060357 -0.015009" rpy="0 0 0"/>
    <parent link="right_shoulder_pitch_link"/>
    <child link="right_shoulder_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2.9" upper="0.47" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.013922 -0.000028 -0.083732" rpy="0 0 0"/>
      <mass value="1.0884"/>
      <inertia ixx="0.002144" ixy="-0.000003" ixz="0.000352" iyy="0.002217" iyz="0.000019" izz="0.000946"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_shoulder_yaw_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_shoulder_yaw_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_yaw_joint" type="revolute">
    <origin xyz="-0.019058 0 -0.105" rpy="0 0 0"/>
    <parent link="right_shoulder_roll_link"/>
    <child link="right_shoulder_yaw_link"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-2.87" upper="2.87" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <link name="right_elbow_link">
    <inertial>
      <origin xyz="0.072388 -0.031134 -0.017906" rpy="0 0 0"/>
      <mass value="0.8174"/>
      <inertia ixx="0.000646" ixy="0.000042" ixz="0.000069" iyy="0.001144" iyz="-0.000011" izz="0.001229"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_elbow_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_elbow_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_elbow_joint" type="revolute">
    <origin xyz="0.020793 0.031888 -0.10414" rpy="0 0 0"/>
    <parent link="right_shoulder_yaw_link"/>
    <child link="right_elbow_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.24" upper="1.6" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <link name="right_wrist_link">
    <inertial>
      <origin xyz="0.018265 -0.009999 0.000000" rpy="0 0 0"/>
      <mass value="0.1588"/>
      <inertia ixx="0.000133" ixy="0.000038" ixz="0.000000" iyy="0.000144" iyz="-0.000000" izz="0.000158"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_wrist_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_wrist_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_joint" type="revolute">
    <origin xyz="0.11609 -0.031859 -0.018793" rpy="0 0 0"/>
    <parent link="right_elbow_link"/>
    <child link="right_wrist_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2.56" upper="2.56" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <link name="right_wrist_pitch_link">
    <inertial>
      <origin xyz="0.031070 0.027902 0.000545" rpy="0 0 0"/>
      <mass value="1.1083"/>
      <inertia ixx="0.000583" ixy="0.000051" ixz="-0.000013" iyy="0.001554" iyz="0.000001" izz="0.001583"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_wrist_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_wrist_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_pitch_joint" type="revolute">
    <origin xyz="0.045 -0.020701 0" rpy="0 0 0"/>
    <parent link="right_wrist_link"/>
    <child link="right_wrist_pitch_link"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-1.4" upper="1.4" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
  <link name="right_wrist_roll_link">
    <inertial>
      <origin xyz="0.023035 0.000000 -0.009529" rpy="0 0 0"/>
      <mass value="0.0732"/>
      <inertia ixx="0.000040" ixy="0.000000" ixz="0.000020" iyy="0.000065" iyz="-0.000000" izz="0.000052"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_wrist_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_wrist_roll_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_roll_joint" type="revolute">
    <origin xyz="0.062136 0.025685 0.029241" rpy="0 0 0"/>
    <parent link="right_wrist_pitch_link"/>
    <child link="right_wrist_roll_link"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.22" upper="1.22" effort="20" velocity="8"/>
    <dynamics damping="0.0" friction="0.0" armature="0.0089296"/>
  </joint>
</robot>
